<nav class="navbar navbar-expand-md navbar-light fixed-top" [ngClass]="{'sticky': isSticky}">
    <div class="container">
        <a class="fs-2 navbar-brand font-weight-bold text-blue-light" href="javascript:void(0)">
            My portfolio
        </a>

        <div class="collapse navbar-collapse">
            <ul class="ms-auto navbar-nav align-items-center">
                <li class="nav-item ml-4 font-weight-bold">
                    <a class="d-flex nav-link align-items-center text-white" href="/home">
                        <i class="material-icons-outlined mr-2">home</i>
                        {{ 'Home' | translate }}
                    </a>
                </li>
                <li class="nav-item ml-4 font-weight-bold">
                    <a class="d-flex align-items-center nav-link text-white" href="#">
                        <i class="material-icons-outlined mr-2">person</i>
                        {{ 'About' | translate }}
                    </a>
                </li>
                <li class="nav-item ml-4 font-weight-bold">
                    <a class="d-flex align-items-center nav-link text-white" href="#">
                        <i class="material-icons-outlined mr-2">analytics</i>
                        {{ 'Projects' | translate }}
                    </a>
                </li>
                <li class="nav-item ml-4 font-weight-bold">
                    <a class="d-flex align-items-center nav-link text-white" href="#">
                        <i class="material-icons-outlined mr-2">feed</i>
                        {{ 'Resume' | translate }}
                    </a>
                </li>
                <div class="align-center ml-4 font-weight-bold">
                    <button class="btn btn-link text-white mr-3" (click)="doRedirectGitHub(url)">
                        <i class="material-icons md-20 mr-2">share</i>
                        <i class="material-icons align-top md-20">star</i>
                    </button>

                    <div [formGroup]="headerForm">
                        <select title="{{ 'Select your language' | translate }}" class="border text-left btn btn-sm text-white select-neon" formControlName="language">
                            <option value="en">{{ 'English' | translate }}</option>
                            <option value="pt-BR">{{ 'Portuguese' | translate}} (pt-BR)</option>
                            <option value="it">{{ 'Italian' | translate }}</option>
                            <option value="es">{{ 'Spanish' | translate}}</option>
                        </select>                                         
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>