<nav class="navbar navbar-expand-md fixed-top" [ngClass]="{'sticky': isSticky}">
    <div class="container">
        <a class="font-weight-bold fs-2 text-blue-light navbar-brand" href="#">
            My portfolio
        </a>

        <div class="p-0 d-flex d-md-none navbar-toggler mt-1 align-items-center border-0">
            <app-combobox-language [responsive]="true"></app-combobox-language>

            <a class="text-blue-light border-0 navbar-toggler" type="button" style="width: 48px;" (click)="doExpandNavbarSm()">
                <i class="fs-2 fa-solid" [ngClass]="{'fa-bars' : !expand, 'fa-xmark': expand}"></i>
            </a>
        </div>

        <div class="collapse navbar-collapse" [ngClass]="{'show': expand, 'notShowing': !expand}">
            <ul class="ml-auto navbar-nav align-items-center-md">
                <li class="nav-item ml-md-4 font-weight-bold">
                    <a [class]="classLink" href="/home">
                        <i [class]="classLinkIcon" class="icon-home"></i>
                        {{ 'Home' | translate }}
                    </a>
                </li>

                <li class="nav-item ml-md-4 font-weight-bold">
                    <a [class]="classLink" href="#">
                        <i [class]="classLinkIcon" class="icon-people"></i>
                        {{ 'About' | translate }}
                    </a>
                </li>

                <li class="nav-item ml-md-4 font-weight-bold">
                    <a [class]="classLink" href="#">
                        <i [class]="classLinkIcon" class="icon-analytics"></i>
                        {{ 'Projects' | translate }}
                    </a>
                </li>

                <li class="nav-item d-flex align-items-center ml-md-4 font-weight-bold">
                    <a [class]="classLink" class="mr-2 mr-md-0" href="#">
                        <i [class]="classLinkIcon" class="icon-feed"></i>
                        {{ 'Resume' | translate }}
                    </a>

                    <button class="btn d-md-none ml-auto mr-2 btn-sm btn-link text-white" (click)="doRedirectGitHub(url)">
                        <i class="md-18 ml-1 mr-1 fa-brands fa-github"></i>
                        <i class="md-16 ml-1 mr-1 fas fa-code-branch"></i>
                    </button>
                </li>

                <li class="d-md-inline d-none ml-md-4">
                    <button class="btn btn-sm btn-link text-white" (click)="doRedirectGitHub(url)">
                        <i class="md-18 ml-1 mr-1 fa-brands fa-github"></i>
                        <i class="md-16 ml-1 mr-1 fas fa-code-branch"></i>
                    </button>
                </li>

                <li class="d-md-inline d-none ml-md-4">
                    <app-combobox-language [responsive]="true"></app-combobox-language>
                </li>
            </ul>
        </div>
    </div>
</nav>