.container a {
    text-decoration: none;
}

.btn-link {
    border-color: rgba(95, 145, 255, 1) !important;
    background-color: #104E8B;
}

.sticky {
    -webkit-backdrop-filter: blur(15px)!important;
    backdrop-filter: blur(15px)!important;
    background-color: #1b1a2ea9!important;
    box-shadow: 0 10px 10px 0 rgba(9,5,29,.171)!important;
}

@media (max-width: 767px) {
    .navbar {
        background-color: #181a27!important;
        font-size: 1.4rem!important;
        padding: 0.7rem 2rem!important;
        transition: all .3s ease-out 0s;
    }
}

@media (min-width: 768px){
    .navbar-expand-md {
        flex-wrap: nowrap;
        justify-content: flex-start;
        transition: all .3s ease-out 0s;
    }

    .align-items-center-md {
        align-items: center!important;
    }

    .align-center-md {
        display: flex !important;
        justify-content: center;
    }

    .nav-item a {
        position: relative;
        text-decoration: none; 
    }

    .nav-item a::after {
        background: rgba(95, 145, 255, 1);
        border-radius: 16px;
        bottom: -2px;
        content: "";
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        width: 0;
        transition: all .3s ease-out 0s;
    }
    
    .nav-item a:hover::after {
        width: 100%;
    }
}