
<div class="text-white home-section-page h-100 container-fluid">
    <div class="container home-container-page">
        <div class="row">
            <div class="col-md-5">
                <p>TEXTO</p>
            </div>
            <div class="col-md-5">
                <p>Image</p>
            </div>
        </div>
    </div>
</div>

<div class="text-white home-section-page h-100 container-fluid">
    <div class="container home-container-page">
        <div class="row">
            <div class="col-md-5">
                <p>TEXTO</p>
            </div>
            <div class="col-md-5">
                <p>Image</p>
            </div>
        </div>
    </div>
</div>
