<div class="dropdown">
    <button class="btn btn-sm btn-theme border-0" href="#" id="navbarDropdown0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fp fp-md fp-rounded mt-lg-auto" [class]="flagClassSelected"></span>
    </button>

    <div class="dropdown-menu dropdown-menu-right border-0 mt-3" aria-labelledby="navbarDropdown0">
        <app-flag *ngFor="let item of flags" [flag]="item.flag" [title]="item.title" (onClick)="doSetLanguage(item.code)"></app-flag>
    </div>
</div>