<div class="dropdown">
    <a class="btn btn-sm" [ngClass]="{'h3-md h3-lg d-md-table-cell': responsive}" href="#" id="navbarDropdown0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fp fp-md fp-rounded mt-lg-auto" [class]="flagClassSelected"></span>
    </a>

    <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="navbarDropdown0">
        <app-flag *ngFor="let item of flags" [flag]="item.flag" [title]="item.title" (onClick)="doSetLanguage(item.code)"></app-flag>
    </div>
</div>