:root {
  --background-color: #1e293b;
  --text-color: #efefef;
  --btn-theme-hover: rgb(255 255 255 / 20%);
  --main-color: #7e80ff; 
  --main-color-hover: #5759d6;
}

.dark_theme {
  background: var(--background-color);
  color: var(--text-color);
}

.light_theme {
  --background-color: #efefef;
  --text-color: #1e293b;
  --main-color: #6366f1;
  --btn-theme-hover: rgb(118 118 118 / 20%);
}

body {
  background: var(--background-color) !important;
  color: var(--text-color) !important;
}

a {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

button.btn-theme:hover{
  background-color: var(--btn-theme-hover);
}

button.main-color {
  background-color: var(--main-color);
}

button.main-color:hover, button.main-color:active {
  background-color: var(--main-color-hover) !important;
}

h1.main-color, a.main-color, span.main-color {
  color: var(--main-color) !important;
}

.w-30 {
  width: 30% !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.align-center {
  display: flex !important;
  justify-content: center;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.md-14 {
  font-size: 14px !important;
}

.md-16 {
  font-size: 16px !important;
}

.md-18 {
  font-size: 18px !important;
}

.md-20 {
  font-size: 20px !important;
}

.md-22 {
  font-size: 22px !important;
}

.md-24 {
  font-size: 24px !important;
}

.icon-home::before {
  content: "home";
}

.icon-people::before {
  content: "person"
}

.icon-analytics::before {
  content: "analytics";
}

.icon-feed::before{
  content: "feed"
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(95, 145, 255, 1);
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: rgb(25 42 62);
}

.font-weight-bold {
  font-weight: 700 !important;
}