body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.align-center {
  display: flex !important;
  justify-content: center;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.md-14 {
  font-size: 14px !important;
}

.md-16 {
  font-size: 16px !important;
}

.md-18 {
  font-size: 18px !important;
}

.md-20 {
  font-size: 20px !important;
}

.md-22 {
  font-size: 22px !important;
}

.md-24 {
  font-size: 24px !important;
}

.icon-home::before {
  content: "home";
}

.icon-people::before {
  content: "person"
}

.icon-analytics::before {
  content: "analytics";
}

.icon-feed::before{
  content: "feed"
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(95, 145, 255, 1);
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: rgb(25 42 62);
}

.text-blue-light {
  color: rgba(95, 145, 255, 1) !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}