:root {
  --main-color: #7e80ff; 
  --main-color-hover: #5759d6;
  --background-color: #1e293b;
  --text-color: #efefef;
  --card-bg-color: #31363f ;
  --btn-theme-hover: rgb(255 255 255 / 20%);
}

.dark_theme {
  background: var(--background-color);
  color: var(--text-color);
}

.light_theme {
  --main-color: #6366f1;
  --background-color: #efefef;
  --text-color: #1e293b;
  --card-bg-color: #fff;
  --btn-theme-hover: rgb(118 118 118 / 20%);
}

body {
  background: var(--background-color) !important;
}

li, a {
  text-decoration: none !important;
}

a, i, p, h1, h2, h3, h4, h5, span {
  color: var(--text-color) !important;
}

button, button > i {
  color: #efefef !important;
}

button:hover {
  background-color: var(--main-color-hover) !important;
}

button, .card.main-color {
  background-color: var(--main-color) !important;
}

.card {
  background-color: var(--card-bg-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.btn-theme, .btn-theme > i {
  height: 32px !important;
  background-color: transparent !important;
  color: var(--text-color) !important;
}

.btn-theme:hover{
  background-color: var(--btn-theme-hover) !important;
}

.w-30 {
  width: 30% !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.align-center {
  display: flex !important;
  justify-content: center;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.md-14 {
  font-size: 14px !important;
}

.md-16 {
  font-size: 16px !important;
}

.md-18 {
  font-size: 18px !important;
}

.md-20 {
  font-size: 20px !important;
}

.md-22 {
  font-size: 22px !important;
}

.md-24 {
  font-size: 24px !important;
}

.icon-home::before {
  content: "home";
}

.icon-people::before {
  content: "person"
}

.icon-analytics::before {
  content: "analytics";
}

.icon-feed::before{
  content: "feed"
}

.font-weight-bold {
  font-weight: 700 !important;
}